NODE_ENV=
DATABASE_URL=

NEXTAUTH_JWT_SECRET=
NEXTAUTH_URL=
NEXTAUTH_ADMIN_CREATE_SECRET=

NEXT_PAGINATION_TAKE=10


NEXT_IMAGEKIT_SECRET_KEY=
NEXT_IMAGEKIT_PUBLIC_KEY=
NEXT_IMAGEKIT_URL=
NEXT_IMAGEKIT_ID=
NEXT_IMAGEKIT_UPLOAD_FOLDER=
